/* Default Layouts*/
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    overflow: scroll;
    color: rgb(77, 77, 77);
}

.topnav {
    background-color: rgb(255, 255, 255);
    color: gray;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.topnav a {
    float: left;
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color:rgb(201, 201, 201);
    border-bottom: 5px solid rgb(201, 201, 201);
    color: black;
}

.topnav a.active {
    border-bottom: 5px solid rgb(168, 35, 48); /*Tesla red*/
    color: black;
}

#telsa {
    background-color: white;
}

#bcHydro {
    background-color: rgb(236, 235, 235);
}

.entry {
    padding: 30px 8px 0 8px;
    overflow: hidden;
    text-align: center;
}

#profilePic {
    width: 40%;
}

#profileInfo {
    width:55% !important;
}

.entryMedia {
    float: left;
    text-align: right; 
    padding-right: 10px;
    width: 30%;
}

.entryInfo {
    padding-top: 25px;
    text-align: left;
    display: inline-block;
    width:65% !important;
}


#profilePic.div {
    width: 10% !important;
}

.entryTitle {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
}

.entrySubtitle {
    font-size: 20px;
}

.entrySubtitle {
    margin-top: -20px;
}

.entryDetails {
    font-size: 16px;
    text-align: left;
}

.entryPhoto {
    max-width: 80%;
}

p + ul {
    margin-top: -10px;
}

.wrapper {
    padding-top: 10px;
    text-align: center;
    display: inline-block;
    position: absolute;
    width: 100%;
}

#canvas {
    position:absolute;
    top:10;
    left:0;
    width:100%;
    height:100%;
}

@media screen and (max-width: 475px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    /* Menu Icon */
    .bar1, .bar2, .bar3 {
        width: 25px;
        height: 2px;
        background-color: #333;
        margin: 4px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-5px, 6px);
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .change .bar2 {opacity: 0;}

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-2px, -3px);
        transform: rotate(45deg) translate(-2px, -3px);
    }

    .topnav a.icon {
        float: right;
        display: block;
        margin-top: -4px;
    }
    
    .topnav .icon:hover {
        border-bottom: 0px solid rgb(201, 201, 201);
        background-color: none;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive a.active {
        background-color: rgb(168, 35, 48)
    }

    .topnav a.active {
        border-bottom: 0px solid rgb(168, 35, 48);
    }

    .topnav a {
        font-size: 15px;
    }

    .topnav a:hover {
        background-color:rgb(201, 201, 201);
        color: black;
    }

    /* Page Resize */
    #github, #mail, #linkedin {
        width: 30px;
    }

    #myTopnav {
        border-bottom: 2px solid gray;
    }

    .entryTitle {
        font-size: 18px;
        font-weight: bold;
        margin-top: 10px;
    }

    .entrySubtitle {
        font-size: 16px;
    }

    .entryDetails {
        margin-top: 10px;
        font-size: 14px;
        text-align: left;
    }
}

@media screen and (max-width: 1150px) {
    .entry {
        display: block;
    }
    .entryMedia {
        text-align: center !important; 
        display: block;
        padding-right: 10px;
        width: 100% !important;  
    }
    .entryInfo {
        padding-top: 5px;
        text-align: center !important;
        display: block;
        width: 100% !important;  
    }
    .entryDetails {
        text-align: left;
        display: none;
    }    
    #profileDetails {
        display: block;
        text-align: center;
    }
    #profileInfo {
        width:100% !important;
    }
    .entryPhoto {
        width: 30%;
        max-width: 270px;
        min-width: 100px;
    }
}
