html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'IBM Plex Sans', sans-serif;
    color:#6B6B6B;
    background-color: white;
    margin: 0;
    font-size: 16;
    font-weight: 300;
}

#leftColumn {
    width: 50%;
    height: 100%;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: hidden;
    float: left;
    padding: 20px 40px 0px 40px;
    box-sizing: border-box;
}

#header {
    width: 100%;
    height: 60px;
    margin-bottom: 80px;
}

#topHeader {
    display: inline-block;
    width: 100%;
    color: black;
    font-size: 22px;
    height: 25px;
    position: relative;
}

#name {
    display: inline-block;
    font-weight: bold;
    width: 60%;
}

#about {
    display: inline-block;
    width: 30%;
    text-align: right;
    float: right;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    bottom: 0px;
    right: 20px;
    margin-bottom: -4px;
}

#footer {
    height: 40px;
    position: fixed;
    width: 50%;
    left: 0;
    bottom: 0;
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
}


#projectList {
    display: block;
    width: 80%;
    height: calc(100% - 140px);
    overflow-y: scroll;
    margin: 10px auto;
    padding: 0;
    text-align: center;
    list-style: none;
    box-sizing: border-box;
}

#projectList li {
    font-size:  20px;
    padding: 12px 0;
    cursor: pointer;
}

#links {
    padding: 0;
    font-size: 0;
    padding-top: 10px;
}

#links li {
    display: inline-block;
    width: 33.3%;
    text-align: center;
    font-size: 16px;

}

#rightColumn { 
    width: 50%;
    height: 100%;
    padding: 0;
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    float: right;
    background-color: #F2F2F2;
    list-style: none;
    margin: 0;
}

a {
    color: #0667EB;
}

#rightColumn li {
    display: block;
    height: 100%;
    width: 80%;
    margin: 0 10%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
}

#rightColumn li img {
    display: block;
    width: 100%;
    max-height: 50%;
    /* min-height: 25%; */
    object-fit: cover; /*Crop image to fit (to maintain aspect ratio)*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.projectOverview {
    box-sizing: border-box;
    margin-top: 10px;
    display: block;
    position: absolute;
    top: 76%;
    width: 100%;
}

#mainPage {
    display: block;
    width: 100%;
    height: 100%;
}

#aboutPage {
    position: absolute;
    top: 0;
    left: 0;
    /* display: none; */
    opacity: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 40px;
    color: white;
    box-sizing: border-box;
}

#closeButton {
    /* width: 100%; */
    display: inline-block;
    cursor: pointer;
}

#aboutBody {
    box-sizing: border-box;
    width: calc(100% - 400px);
    height: calc(100% - 100px);
    margin: 60px 200px;
}

#aboutHeader {
    font-size: 40px;
    padding-bottom: 20px;
    font-weight: 400;
}

#aboutInfo {
    padding-bottom: 50px;
}

hr {
    height: 1px;
    background-color: rgba(196, 196, 196, 0.6);
    border: none;
}

#experienceTitle {
    font-weight: 500;
    font-size: 20px;
}

/* Height set in js */
#experienceBox {
    display: block;
    width: 100%;
    overflow: none;
}

#experienceList {
    display: inline-block;
    box-sizing: border-box;
    list-style: none;
    padding: 0 50px 15px 50px;
    width: 225px;
    margin: 25px 0 0 0;
    height: calc(100% - 25px);
    overflow-y: scroll;
    cursor: pointer;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

#experienceList::-webkit-scrollbar {
	display: none;
}

#experienceList li {
    width: 100%;
    padding: 0 0 20px 0;
    color: #6B6B6B;
}

#experienceDetails {
    box-sizing: border-box;
    display: inline-block;
    width: calc(100% - 225px);
    float: right;
    border-left: 1px solid;
    border-color: rgba(196, 196, 196, 0.6);
    padding: 0 0 15px 20px;
    margin: 25px 0 0 0 ;
    max-height: calc(100% - 25px);
    overflow-y: scroll;
    list-style: none;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

#experienceDetails::-webkit-scrollbar {
	display: none;
}

.selectedJob {
    color: white !important;
    font-weight: bold;
}

.selectedJob:before {
    content:  "> ";
}

.jobTitle {
    font-size: 20px;
    padding-bottom: 5px
}

.jobTitle a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.jobTeam {
    font-size: 16px;
    padding-bottom: 10px;
    color: #6B6B6B;
}

.jobDate {
    font-size: 12px;
    padding-bottom: 5px;
}

.jobTasks {
    padding-top: 10px;
    list-style-type: disc;
}

.jobTasks li {
    padding-bottom: 10px;

}

.selectedProject {
    color: black;
    font-weight: 500;
}

.hidden {
    display: none;
}

.hoverOverlay {
    transition: .5s ease;
    opacity: 0;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 80px;
    width: 80px;
    box-sizing: border-box;
    line-height: 20px;  
    padding-top: 20px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    /* font-weight: 500; */
}

#myWebsiteIcon {
    position: fixed;
    bottom: 5px;
    right: 5px;
    opacity: 0.5;
    font-size: 50px;
    text-decoration: none;
    color: black;
    font-weight: 300
}

#myWebsiteIcon:hover {
    opacity: 1;
}

figcaption {
    text-align: center;
}

.equation {
    margin: 10px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.material-icons.md-18 { 
    font-size: 18px; 
    vertical-align: bottom;
    margin-left: -1px;
}

.material-icons.md-24 { 
    font-size: 24px; 
}

.material-icons.md-28 { 
    font-size: 28px; 
}

#aboutFooter {
    display: none; 
}

.projectMobileTitle {
    display: none;
}

.mobileCompanyName {
    display: none;
}

.mobileExpand {
    display: none ; /*Can't get this to work otherwise*/
}

.rotated {
    padding: 0;
    transform: rotate(-180deg);
}

#projectList::-webkit-scrollbar {
    /* width: 0px;  Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

#lastItem {
    margin-bottom: 50px;
}

.learnMore {
    display: block;
    vertical-align: middle;;
    text-decoration: none;
    padding-top: 5px;
    height: auto;
    color: #0667EB;
    padding: 10px 0;
    width: 150px;
}


/* Tablet */
@media screen and (max-width: 1024px) {
    #aboutBody {
        width: calc(100% - 100px);
        height: calc(100% - 50px);
        margin: 25px 50px;
    }
}


/* Mobile */
@media screen and (max-width: 700px) {
    /* Projects */
    #projectList {
        display: none;
    }

    #leftColumn {
        position: absolute;
        top: 0; 
        left: 0;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 9999;
        height: 65px;
        backdrop-filter: saturate(180%) blur(80px);
        -webkit-backdrop-filter: saturate(80%) blur(40px); 
    }

    #topHeader {
        width: 100%;
        background-color: none;
    }

    #bottomHeader {
        background-color: none;
    }

    #footer {
        display: none;
    }

    #leftColumn {
        width: 100%;
        padding: 5px 20px 0 20px;
    }

    #rightColumn {
        position: absolute;
        left: 0;    
        top: 0;
        width: 100%;
        height: 100%;
    }

    #rightColumn li {
        width: calc(100% - 50px);
        margin: 0 25px; 
        transform: translateY(-70%);
        margin-bottom: 150px;
    }

    #header {
        margin: 0;
    }

    #name {
        font-size: 16px;
        font-weight: 500; 
    }

    #about {
        font-size: 16px;
        position: absolute;
        bottom: 0px;
        right: 0px;
        margin-bottom: -12px;
    }

    #bottomHeader {
        font-size: 14px;
    }

    .projectOverview {
        font-size: 16px;
        top: 75%;
    }

    .projectMobileTitle {
        display: block;
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 5px;
        color: black;
    }

    .material-icons.md-18 { 
        font-size: 12px; 
        vertical-align: bottom;
        margin-left: -1px;
    }


    /* About */
    #aboutPage {
        padding: 20px 10px;
    }

    #aboutBody {
        width: 100%;
        height: 100%;
        padding: 0 20px;
        margin: 40px 0 0 0;
        overflow-y: scroll;
    }

    #closeButton {
        display: inline-block;
        cursor: pointer;
        float: right
    }

    #aboutHeader {
        font-size: 24px;
        padding-bottom: 5px;
    }

    #aboutInfo {
        font-size: 16px;
        padding-bottom: 5px;
    }

    #aboutStrive {
        padding-top: 10px;
    }

    #aboutFooter {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        height: 60px;
        width: 100%;
        backdrop-filter: saturate(180%) blur(20px);
        -webkit-backdrop-filter: saturate(180%) blur(20px); 
    }

    #links {
        padding-top: 20px;
        background-color: none
    }

    #links li a {
        color: white;
        font-size: 16px;
    }

    #experienceTitle {
        font-size: 18px;
    }

    #experienceList {
        /* padding: 0 0 15px 20px;
        width: 130px; */
        display: none;
    }

    #experienceList li {
        font-size: 14px;
    }

    #experienceDetails {
        /* width: calc(100% - 130px); */
        width: 100%;
        border: none;
        overflow-y: hidden;
        padding: 0;
    }

    /* Turn off hidden */
    .hidden { 
        display: block;
    }

    #experienceDetails > li {
        margin-bottom: 10px;
        padding: 10px;
        background-color: #757575;
        border-radius: 10px;
        position: relative;
    }

    .jobTeam {
        font-size: 16px;
        color: #C7C7C7;
        display: none;
    }

    .jobTasks {
        font-size: 16px;
        /* display: none; */
    }

    .jobTitle a {
        display: none;
    }

    .at {
        display: none;
    }

    .jobTasks {
        display: none
    }

    .mobileCompanyName {
        display: inline-block;
        font-size: 16px;
        padding-bottom: 5px;
        font-weight: 450;
    }

    .jobTitle {
        font-size: 16px;
        width: 100%;
    }

    .jobDate {
        display: inline-block;
        float: right;
        text-align: right;
        padding: 4px 45px 0 0;
        font-size: 12px;
        box-sizing: border-box;
    }

    .mobileExpand {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        padding: 25px 0 15px calc(100% - 38px);
    }

    .mobileExpandButton {
        padding-right: 15px;
        padding-left: 15px;
        transition: all 0.3s ease;
    }
    

    #cuttingEdge {
        display: none;
    }

    #linksHorizontal {
        margin-top: 10px;
    }

    #lastExperience {
        display: block;
        margin-bottom: 100px !important; /*Override*/
    }
}

@media screen and (min-width: 700px) {
    /* This overrides the jqery display: none property which stops from showing after going to mobile screen size */
    .jobTeam {
        display: block !important;
    }

    .jobTasks {
        display: block !important;
    }
}





