html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'IBM Plex Sans', sans-serif;
    color:#9A9A9A;
    background-color: white;
    margin: 0;
    font-size: 16;
    font-weight: 300;
}

.leftColumn {
    width: 50%;
    height: 100%;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: hidden;
    float: left;
    padding: 20px 40px 10px 40px;
    box-sizing: border-box;
}

#header {
    width: 100%;
    height: 50px;
    margin-bottom: 80px;
}

#topHeader {
    display: inline-block;
    width: 100%;
    color: black;
    font-size: 22px;
}

#name {
    display: inline-block;
    font-weight: bold;
    width: 60%;
}

#about {
    display: inline-block;
    text-align: right;
    float: right;
    font-size: 18px;
    margin-right: 20px;
    cursor: pointer;
}

#footer {
    height: 30px;
    margin-top: 80px;
}

#projectList {
    display: block;
    width: 80%;
    height: calc(100% - 240px);
    overflow-y: scroll;
    margin: 10px auto;
    padding: 0;
    text-align: center;
    list-style: none;
    box-sizing: border-box;
}

#projectList li {
    font-size:  20px;
    padding: 12px 0;
    cursor: pointer;
}

#links {
    padding: 0;
    font-size: 0;
}

#links li {
    display: inline-block;
    width: 33.3%;
    text-align: center;
    font-size: 16px;

}

#rightColumn { 
    width: 50%;
    height: 100%;
    padding: 0;
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    float: right;
    background-color: #F2F2F2;
    list-style: none;
    margin: 0;
}

a {
    color: #0667EB;
}

#rightColumn li {
    display: block;
    height: 100%;
    width: 80%;
    margin: 0 10%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
}

#rightColumn li img {
    display: block;
    width: 100%;
    max-height: 50%;
    object-fit: cover; /*Crop image to fit (to maintain aspect ratio)*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.projectOverview {
    box-sizing: border-box;
    margin-top: 10px;
    display: block;
    position: absolute;
    top: 76%;
    width: 100%;
}

.learnMore {
    display: block;
    text-decoration: none;
    padding-top: 5px;
    color: #0667EB;
}

#mainPage {
    display: block;
    width: 100%;
    height: 100%;
}

#aboutPage {
    position: absolute;
    top: 0;
    left: 0;
    /* display: none; */
    opacity: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 40px;
    color: white;
    box-sizing: border-box;
}

#closeButton {
    /* width: 100%; */
    display: inline-block;
    cursor: pointer;
}

#aboutBody {
    box-sizing: border-box;
    width: calc(100% - 400px);
    height: calc(100% - 100px);
    margin: 50px 200px;
}

#aboutHeader {
    font-size: 40px;
    padding-bottom: 20px;
}

#aboutInfo {
    padding-bottom: 50px;
}

hr {
    height: 1px;
    background-color: rgba(196, 196, 196, 0.6);
    border: none;
}

#experienceTitle {
    font-weight: 500;
    font-size: 20px;
}

#experienceBox {
    display: block;
    width: 100%;
    height: calc(100% - 250px);
}

#experienceList {
    display: inline-block;
    box-sizing: border-box;
    list-style: none;
    padding: 0 50px;
    width: 225px;
    margin: 15px 0;
    height: 100%;
    overflow-y: scroll;
    cursor: pointer;
}

#experienceList li {
    width: 100%;
    padding: 10px 0;
    color: #9A9A9A;
}

#experienceDetails {
    box-sizing: border-box;
    display: inline-block;
    width: calc(100% - 225px);
    float: right;
    border-left: 1px solid;
    border-color: rgba(196, 196, 196, 0.6);
    padding-left: 20px;
    margin-top: calc(15px + 10px);
    max-height: 100%;
    overflow-y: scroll;
    list-style: none;
}

.selectedJob {
    color: white !important;
    font-weight: bold;
}

.selectedJob:before {
    content:  "> ";
}

.jobTitle {
    font-size: 20px;
    padding-bottom: 5px
}

.jobTitle a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.jobTeam {
    font-size: 16px;
    padding-bottom: 10px;
    color: #9A9A9A;
}

.jobDate {
    font-size: 12px;
    padding-bottom: 5px;
}

.jobTasks {
    padding-top: 10px;
    list-style-type: disc;
}

.jobTasks li {
    padding-bottom: 10px;

}

.selectedProject {
    color: black;
    font-weight: 500;
}

.hidden {
    display: none;
}

.hoverOverlay {
    transition: .5s ease;
    opacity: 0;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 80px;
    width: 80px;
    box-sizing: border-box;
    line-height: 20px;  
    padding-top: 20px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    /* font-weight: 500; */
}

#myWebsiteIcon {
    position: fixed;
    bottom: 5px;
    right: 5px;
    opacity: 0.5;
    font-size: 50px;
    text-decoration: none;
    color: black;
    font-weight: 300
}

#myWebsiteIcon:hover {
    opacity: 1;
}

figcaption {
    text-align: center;
}

.equation {
    margin: 10px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}