html { 
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    color: white;
    padding: 10px;
    margin: 0;
    font-weight: 400;
}

#backgroundImg {
    width: 100%;
    height: 100%;
}

#time { 
    display: block;
    width: 100%;
    text-align: center;
    font-size: 200px;
}

#top {
    display: block; 
    width: 100%;
    height: 80px;
}

#date {
    opacity: 0; /* Will fade in once information is populated */
    height: 100%;
    width: 80px;
    display: inline-block;
    float: left;
    border: 2px solid white;
    border-radius: 8px;
}

#month {
    text-align: center;
    font-size: 30px;
}

#day {
    text-align: center;
    font-size: 40px;
}

#weather {
    opacity: 0; /* Will fade in once information is populated */
    height: 100%;
    display: inline-block;
    float: right;
    text-align: right;
    font-weight: 100;
}

#topWeather {
    display: block;
    height: 70%;
    box-sizing: border-box;
}

#weatherIcon {
    height: 100%; 
    box-sizing: border-box;
    float: left;
    margin-right: 10px;
}

#temp {
    height: 100%;
    float: right;
    font-size: 35px;
    padding-top: 8px;
    box-sizing: border-box;
}

#city {
    display: block;
    height: 30%;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    font-size: 20px;
}

#searchForm {
    display: block;
    height: 40px;
    width: 100%;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 100px;
    box-sizing: border-box;
}
 
#searchText {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 400px;
    vertical-align: top;
    display: inline-block;
    box-sizing : border-box;
    border-radius: 20px;
    border-width: 0;
    padding: 0 45px 0 15px;
    font-family: 'Roboto';
    font-size: 15px;
}

#searchText:focus{
    outline: none;
}

/* Placehodler triggers opacity change when typed */
#searchText:placeholder-shown {
    opacity: 0.5;
}

#searchButton {
    margin: 0;
    padding: 10px 0;
    margin-left: -52px;
    border-radius: 50px;
    border-width: 0;
    width: 50px;
    height: 100%;
    background-color: transparent;
    box-sizing : border-box;
}

#searchButton > img { 
    width: 100%;
    height: 100%;
}

#welcomeMessage {
    width: 100%;
    text-align: center;
    font-size: 50px
}

#bottom {
	display: block;
	width: 100%;
	height: 80px;	
	position: absolute;
	bottom: 0px;
	margin-bottom: 10px;
	box-sizing: border-box;
}

#gas {
	display: block;
	box-sizing: border-box;
	height: 70px;
	width: 100px;
	font-weight: 200;
}

#gasTitle {
	text-align: center;
	height: 30px;
	font-size: 20px;
}

#gasPrice {
	height: 50%;
	width: 100%;
	font-size: 30px;
}

#gasValue {
	float: left;
	height: 100%;
	width: 50%;
	text-align: right;
	padding-right: 2px;
	box-sizing: border-box;
}

#gasUnit {
	font-size: 15px;
	float: right;
	height: 100%;
	width: 50%;
	padding-top: 8px;
	padding-left: 2px;
	box-sizing: border-box;
	text-align: left;
}


/* Responsive for difference screen sizes */
@media screen and (max-width: 800px) {
    #time { 
        font-size: 100px;
    }

    #welcomeMessage {
        font-size: 30px;
    }
}

@media screen and (max-width: 500px) {
    #welcomeMessage {
        font-size: 20px;
    }

    #searchText {
        width: 280px;
    }

    #top {
        height: 60px;
    }

    #date {
        width: 50px;
        display: inline-block;
    }
    
    #month {
        font-size: 20px;
    }
    
    #day {
        font-size: 30px;
    }
    
    #temp {
        font-size: 25px;
        padding-top: 8px;
    }
    
    #city {
        font-size: 20px;
    
}



