
html { 
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 10px;
    margin: 0;
    font-weight: 400;
}

canvas {
    border:1px solid #d3d3d3;
    background-color: white;
    width: 100%;
    height: calc(100% - 170px);;
    box-sizing: border-box; 
}

#controls {
    width: 100%;
    height: 170px;
}

#myWebsiteIcon {
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    opacity: 0.5;
}

#myWebsiteIcon:hover {
    opacity: 1;
}

#checkboxControlContrainer {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    padding-left: 50px;
    /* width: 15%; */
    /* text-align: left; */
}

#sliderControlContainer {
    display: inline-block;
    min-width: 300px;
}

.sliderTitle {
    display: inline-block;
    width: 70px;
    height: 100%;
}

.sliderRange {
    -webkit-appearance: none;
    width: 200px;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.sliderRange:hover {
    opacity: 1;
}

.sliderRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(168, 35, 48);
    cursor: pointer;
}

.tooltip {
    position: relative;
    width: 16px;
    height: 16px;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.infoCircle {
    text-align: center;
    border-radius: 16px;
    display: block;
    border-radius: 3;
    width: 100%;
    height: 100%;
    color: rgba(128, 128, 128, 0.486);
    border-color: rgba(128, 128, 128, 0.486);
    border-width: 1px;
    border-style: solid;    
}

.sliderContainer {
    height: 30px;
}

.popup {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    opacity: 0.5;
    font-size: 35px;
    border-style: solid;
    border-radius: 40px;
    text-align: center;
    color: rgba(128, 128, 128, 0.486);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 300px;
    background-color: rgb(54, 54, 54);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 5px;
    position: absolute;
    z-index: 1;
    top: 125%;
    right: 0;
    margin-left: -80px;
}

.popuptext, .popuptext a {
    font-size: 15px;
    color: white;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 15px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(54, 54, 54) transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

@media screen and (max-width: 580px) {
    canvas {
        height: calc(100% - 200px);;
    }

    #controls {
        width: 100%;
        height: 200px;
    }
}

@media screen and (max-width: 320px) {
    #sliderControlContainer {
        display: inline-block;
        width: 100%;
        min-width: 0;
    }

    .sliderRange {
        width: auto
    }
}