body {
    overflow-y: scroll;
}

.project {
    width: 800px;
    margin: auto;
    padding: 40px;
    color: black;
    font-size: 20px;
    box-sizing: border-box;
    line-height: 180%;
}

.projectTitle {
    font-size: 35px;
    padding-bottom: 20px;
    line-height: 160%;
}

.projectPhoto {
    width: 100%;
    object-fit: cover; /*Crop image to fit (to maintain aspect ratio)*/
    margin-bottom: 20px;
}

ul {
    margin: 0;
}

.sectionTitle {
    font-size: 25px;
    font-weight: 500;
    padding-top: 20px;
    margin-bottom: 10px;
}

#projectLink {
    position: fixed;
    right: 10px;
    top: 50px;
    color:
}


@media screen and (max-width: 900px) {
    /* This overrides the jqery display: none property which stops from showing after going to mobile screen size */
    .project {
        width: 100%;
        padding: 40px 20px;
        font-size: 15px;
        line-height: 150%;
    }

    .projectTitle {
        font-size: 30px;
    }

    #projectLink {
        display: none;
    }

    #myWebsiteIcon {
        display: none;
    }
}

